header
	h1: a(href="index.html") COSI Portfolio
	nav
		li: a(href='15.html') 2014-2015
		li: a(href='16.html') 2015-2016
		li: a(href='17.html') 2016-2017
		li: a(href='https://lannonbr.com') Back to lannonbr.com
