html
	head
		title Benjamin Lannon COSI Page
		link(rel='stylesheet' href='css/main.css')
	body
		include ./includes/_header.pug

		main
			h1 Freshman Year in COSI
			p.
				These are some major contributions of mine during my Freshman year.
			ul
				li Meeting Minutes (March 2015 - November 2015)
					p.
						Threre was a large gap since there was someone did Meeting
						Minutes for the labs, so I decided that it would be useful
						to revive them to have an active log of our meetings and
						events that had happened through the years.
					p.
						I handed it the project off to Michael Hrcek in November
						2015, but he since has left Clarkson, so I will be picking
						up the project again temporarily.
