html
	head
		title Benjamin Lannon COSI Page
		link(rel='stylesheet' href='css/main.css')
	body
		include ./includes/_header.pug

		main
			h1 Sophmore Year in COSI
			p.
				These are some major contributions of mine during my Sophmore year.
			ul
				li Project Updates (Summer 2015 - Present)
					p.
						Similar to Meeting Minutes, Project Updates is a site where
						updates to projects in COSI can be presented. The site runs
						using Jekyll, so the ease of pushing an post to the site is
						only a git push.

				li COSI / ITL Linux Build (Summer 2015 - Present)
					p.
						Before the 2015-2016 semester, I was given the role of
						maintaining the lab builds for the year. The ITL build
						was a standard Debian 8 build which was extremely similar
						to the previous year's build. The COSI build, though,
						was built on top of the ITL build and also included
						NFS support through the Kerberos authentication system
						set up by other lab members through the summer.
					p.
						I am likely to be handing it off to someone else
						after the 2016-2017 year.

				li Docs (August 2015 - Present)
					p.
						During the summer I was interested in maintaining our
						documentation server which is running a mediawiki website.
						The previous maintainer handed it off to me. Over the year,
						I have been keeping up to date with new hardware and updates
						to existing infrastructure.

				li CSLabs Webpage Updates (Fall 2015)
					p.
						I gave a refresh to COSI's main website after feeling
						a bit outdated. It now is mobile friendly and has more
						present and up to date content.

				li Talks (Fall 2015 - Present)
					p.
						Talks is a web application that serves as a place for people
						to post talks or topics that they'll be presenting at our
						Wednesday meetings.

					p.
						It was originally built using the python web framework Flask,
						but since has been rewritten as a NodeJS application.

				li Navigation Header (November 2015 - Present)
					p.
						I added a navigation bar to the top of most of our web
						services that allows for easy access to other COSI sites.

				li Directorship (November 2015 - Present)
					p.
						I was offered and accepted the role as a lab director.
						The position is mainly a point of contact between COSI
						and the rest of the campus as well as a mediator at
						meetings and resolver of conflicts in the labs.

				li Dubsdot (Spring 2016 - Present)
					p.
						Dubsdot was a rebirth of previous COSI webservers. The server
						is running as a VM on one of our VM Hosts, Bennu, and is
						currently hosting Fsuvius, Talks, and Print.


				li Mirror Website (December 2015 - Present)
					p.
						With the building of the new FOSS Mirror for COSI, I built
						a brand new website for it. The style is much more modern,
						and it also presents statistics on the network traffic since
						it launched in April 2016.
