html
  head
    title Benjamin Lannon COSI Page
    link(rel='stylesheet' href='css/main.css')
  body
    include ./includes/_header.pug

    main
      h1 Junior year in COSI
      p.
        These are some major contributions of mine that will be made
        during my Junior year.
      ul
        li ML Course (Planned project)
          p.
            Michael Fulton and myself are planning on teaching a weekly
            course on the fundamentals of Machine Learning which people
            who take the course will be able to get credit for.

        li COSI Newsletter (Planned project)
          p.
            A weekly newsletter is something that I've wanted to work on for
            awhile, but I think it will be doable to make in this upcoming
            semester. It will consist of a link to the previous week's Meeting
            Minutes, a schedule of events for the upcoming week, and a "Meet a
            Cosinaught" section as well.
