html
	head
		title Benjamin Lannon COSI Page
		link(rel='stylesheet' href='css/main.css')
	body
		include ./includes/_header.pug

		main
			h1 Junior year in COSI
			p.
				These are some major contributions of mine that will be made
				during my Junior year.
			ul
				li ML Course (In prep. stage)
					p.
						Michael Fulton and myself are planning on teaching a weekly
						course on the fundamentals of Machine Learning which people
						who take the course will be able to get credit for.
