html
	head
		title Benjamin Lannon COSI Page
		link(rel='stylesheet' href='css/main.css')
	body
		include ./includes/_header.pug

		main
			h1 What is COSI
			p.
				COSI is the main part of the Applied CS Labs at clarkson
				University. I have been involved with the labs since the
				first few weeks that I was on campus during my freshman year.
				Since then, I have grown to being one of the leaders of the
				labs and I am very willing to continue making the labs
				better while I am at Clarkson.

			p.
				This site is a portfolio of all of the projects that I have
				done throughout the years.
